<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-sm-10">
      <div class="p-5">
        <div class="justify-content-md-center" id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div *ngFor="let m of MOVIES; let i = index" class="carousel-item p-5" [ngClass]="{'active': i === 0}">
              <img [src]="'https://image.tmdb.org/t/p/w500' + m.backdrop_path" class="d-block w-100" alt="Movie Image">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
