<div class="card shadow">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movieImage" class="card-img-top" alt="...">
    <div class="card-title">
      <h5 class=" fs-5 text">{{movieName}}</h5>
    </div>
    <div class="card-body">
      <a [routerLink]="['/details', movieID]" class="btn btn-primary">Saber mais</a>
    </div>
  </div>