<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 centered-component">
          <div class="card">
            <img [src]="'https://image.tmdb.org/t/p/w500' + MOVIE.backdrop_path" class="card-img-top" alt="Imagem do filme">
            <div class="card-body">
              <h5 class="card-title display-3">{{ MOVIE.original_title }}</h5>
              <br>
              <p class="card-text">Resumo:</p>
              <p>{{ MOVIE.overview }}</p>
              <br><br><br>
              <a href="/" class="btn btn-primary">Voltar</a>
            </div>
          </div>
        </div>
      </div>    
</div>
  