<div class="row p-5">
    <div class="col-sm-3 p-5 col-xs-12 justify-content-md-center" *ngFor="let m of MOVIES">
      <app-card
        [movieID]="m.id"
        [movieName]="m.title"
        [movieImage]="m.poster_path">
      </app-card>
    </div>
  </div>
  